.lang-nav {
  border-top: 3px solid rgb(251, 176, 57);
  border-bottom: 3px solid rgb(251, 176, 57);
  padding: 0.2rem;
  font-size: smaller;
  margin: 1rem 0;
}

@media screen and (min-width: 600px) {
  .lang-nav {
    position: absolute;
    right: 2rem;
  }
}
