.navigation {
  border-top: 3px solid var(--orange);
  border-bottom: 3px solid var(--orange);
  padding: 0.3rem;
}

@media screen and (max-width: 599px) {
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
