.link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.2rem 0.5rem;
  display: inline-block;
}

.link:last-child {
  border-right: none;
}

.active {
  color: var(--orange);
}

@media screen and (min-width: 600px) {
  .link {
    border-right: 3px solid white;
  }
}
