.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}

.description {
  display: flex;
  font-style: italic;
  font-size: 1.1rem;
  text-align: center;
}

.left {
  width: 50%;
  text-align: right;
  margin-right: 0.7rem;
}

.right {
  width: 50%;
  margin-left: 0.7rem;
}
