.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
  /* color: #d9d9d9;
    background: #e8e8e8; */
}

.description {
  display: flex;
  /* width: 100%; */
  font-style: italic;
  font-size: 1.1rem;
}

.left {
  width: 50%;
  text-align: right;
  margin-right: 0.7rem;
}

.right {
  width: 50%;
  margin-left: 0.7rem;
}

.price {
}

.center {
}
